extends ../../layouts/default
include ../../mixins/alert
block main 
    +alert-success("5000")
    +alert-error("5000")

    .row.mb-5 
        .col-md
            .card.mb-3
                .row.g-0
                    .col-md-4
                        img.card-img.card-img-left(src=productCategory.thumbnail alt='Card image')
                    .col-md-8.align-content-center
                        .card-body
                            h3.card-title #{productCategory.title}
                            p.card-text.w-75 Description: !{productCategory.description}
                            p.card-text Position: #{productCategory.position}
                            p.card-text Parent Category: #{parent_category.title}
                            p.card-text.d-inline.me-2 Status: 
                            if(productCategory.status=="active")
                                span(
                                    class="badge bg-label-primary me-1 cursor-pointer" 
                                ) Active
                            else 
                                span(
                                    class="badge bg-label-warning me-1 cursor-pointer"
                                ) Pending
                            .mt-5 
                                a(
                                    class="btn btn-primary"
                                    href=`${prefixAdmin}/product-category/edit/${productCategory.id}`
                                ) Edit
        