mixin form-change-multi(path)
    form(
        action=path
        method="POST"
        class="row align-items-center ms-1"
        id="form-change-multi"
    )
        .col-sm-8.col-12.p-0
            select(
                class="form-select text-center text-left mb-2"
                name="action"
            )
                option(disabled selected) -----SELECT ACTION-----
                option(value='active') ACTION
                option(value='inactive') PENDING
                option(value='delete') DELETE
                option(value='position') POSITION
            input(
                name="ids"
                value=""
                class="d-none"
            )
        .col-4.p-0
            button(
                class="btn btn-primary fs-sm-10 mb-2 ms-1"
                type="submit"
            ) Apply