mixin form-change-multi(path)
    form(
        action=path
        method="POST"
        class="row"
        id="form-change-multi"
    )
        .col-md-8.col-12.p-0.mb-2.pe-md-2.pe-0
            select(
                class="form-select"
                name="action"
            )
                option(disabled selected) -----SELECT ACTION-----
                option(value='active') ACTION
                option(value='inactive') PENDING
                option(value='delete') DELETE
                option(value='position') POSITION
            input(
                name="ids"
                value=""
                class="d-none"
            )
        .col-4.p-0.mb-2
            button(
                class="btn btn-primary fs-sm-10"
                type="submit"
            ) Apply