mixin search(keyword)
    form(id="form-search")
        .input-group
            input(
                type="text"
                placeholder="Enter keyword"
                name="keyword"
                class="form-control me-2"
                value=keyword
            )
            .input-group-append
                button(
                class="btn btn-primary"
                type="submit"
                ) Search