extends ../../layouts/default
include ../../mixins/alert
include ../../mixins/select-tree
block main 
    +alert-success("5000")
    +alert-error("5000")
    if(user.role.permissions.includes("role_edit"))
        .card.mb-4 
            h3.card-header Edit Role
            .card-body 
                form(
                    action=`${prefixAdmin}/roles/edit/${role.id}?_method=PATCH`
                    id="form-edit"
                    method="POST"
                )
                    .mb-3 
                        label(class='form-label' for="title") Title
                        input(
                            type="text"
                            class="form-control"
                            id="title"
                            name="title"
                            placeholder="Name Role"
                            required
                            value=role.title
                        )
                    .mb-3
                        label(class='form-label' for="description") Description
                        textarea(
                            type="text"
                            class="form-control"
                            id="description"
                            name="description"
                            rows="5"
                        ) #{role.description}
                    .mb-3 
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Edit

    else 
        h2 You do not have permission to access this page.
        