extends ../../layouts/default
block main 
    
    .card.mb-4 
        h3.card-header Add New Product
        .card-body 
            form(
                action=`${prefixAdmin}/products/create`
                id="form-create-product"
                method="POST"
            )
                .mb-3 
                    label(class='form-label' for="title") Title
                    input(
                        type="text"
                        class="form-control"
                        id="title"
                        name="title"
                        placeholder="Name Product"
                        required
                    )
                .mb-3
                    label(class='form-label' for="description") Description
                    textarea(
                        type="text"
                        class="form-control"
                        id="description"
                        name="description"
                        rows="5"
                    )
                .mb-3 
                    label(class='form-label' for="price") Price
                    input(
                        type="number"
                        class="form-control"
                        id="price"
                        name="price"
                        placeholder="Name Product"
                        value="0"
                        min="0"
                    )
                .mb-3 
                    label(class='form-label' for="discountPercentage") Discount Percentage
                    input(
                        type="number"
                        class="form-control"
                        id="discountPercentage"
                        name="discountPercentage"
                        value="0"
                        min="0"
                    )
                .mb-3 
                    label(class='form-label' for="stock") Stock
                    input(
                        type="number"
                        class="form-control"
                        id="stock"
                        name="stock"
                        value="0"
                        min="0"
                    )
                .mb-3 
                    label(class="form-label" for="thumbnail") Image
                    input(
                        type="text"
                        class="form-control"
                        id="thumbnail"
                        name="thumbnail"
                    )
                .mb-3 
                    label(class="form-label" for="position") Position
                    input(
                        type="number"
                        class="form-control"
                        id="position"
                        name="position"
                        placeholder="Auto increase"
                        min="1"
                    )
                .mb-3.col-md 
                    .d-block Status 
                    .form-check.form-check-inline.mt-3 
                        input(
                            type="radio" 
                            class="form-check-input" 
                            name="status" 
                            value="active"
                            id="active"
                            checked
                        ) 
                        label(class="form-check-label" for="active") Action
                    .form-check.form-check-inline.mt-3 
                        input(
                            type="radio" 
                            class="form-check-input" 
                            name="status" 
                            value="inactive"
                            id="inactive"
                        ) 
                        label(class="form-check-label" for="inactive") Pending
                .mb-3 
                    button(
                        type="submit"
                        class="btn btn-primary"
                    ) Create
        
        