extends ../../layouts/default
include ../../mixins/filter-status
include ../../mixins/search

block main 
                
    //- Filter & Search
    .card.mb-3 
        h5.card-header Filters &amp; Search
        .card-body
            .row.align-items-center
                .col-6
                    +filterStatus(filterStatus)
                .col-6
                    +search(keyword)

    //- Table product list
    .card
        h5.card-header Product List
        .table-responsive.text-nowrap
            table.table
                thead
                    tr
                        th 
                            input(type="checkbox")
                        th NO.
                        th IMAGE
                        th TITLE
                        th PRICE
                        th POSITION
                        th STATUS
                        th ACTIONS
                tbody.table-border-bottom-0
                    each item, index in products
                        tr
                            td 
                                input(type="checkbox")
                            td
                                i.fab.fa-angular.fa-lg.text-danger.me-3
                                strong #{index + 1}
                            td 
                                img(
                                    src=item.thumbnail
                                    alt=item.title
                                    width="60px"
                                    height="auto"
                                )
                            td #{item.title}
                            td #{item.price}
                            td 
                                input(
                                    type="number"
                                    value=item.position 
                                    style="width: 60px; text-align: center; border-radius: 10px"
                                    min="1"
                                    name="position"
                                )
                            td
                                if(item.status=="active")
                                    pan.badge.bg-label-primary.me-1 Active
                                else 
                                    span.badge.bg-label-warning.me-1 Pending
                            td
                                .dropdown
                                    button.btn.p-0.dropdown-toggle.hide-arrow(type='button' data-bs-toggle='dropdown')
                                        i.bx.bx-dots-vertical-rounded
                                    .dropdown-menu
                                        a.dropdown-item(href='javascript:void(0);')
                                            i.bx.bx-edit-alt.me-1
                                            |  Edit
                                        a.dropdown-item(href='javascript:void(0);')
                                            i.bx.bx-trash.me-1
                                            |  Delete

    //- Table product list

    