extends ../../layouts/default
include ../../mixins/filter-status
include ../../mixins/search
include ../../mixins/pagination

block main 
                
    //- Filter & Search
    .card.mb-3 
        h5.card-header Filters &amp; Search
        .card-body
            .row.align-items-center
                .col-6
                    +filterStatus(filterStatus)
                .col-6
                    +search(keyword)
    //- End Filter & Search
    
    //- Change status multi product
    .card.mb-3 
        h5.card-header Modify Products
        .card-body
            form(
                action=`${prefixAdmin}/products/change-multi?_method=PATCH`
                method="POST"
                class="row align-items-center"
                id="form-change-multi"
            )
                .col-4
                    select(
                        class="form-select text-center"
                        name="action"
                    )
                        option(value='active') ACTION
                        option(value='inactive') PENDING
                        option(value='delete') DELETE
                    input(
                        name="ids"
                        value=""
                        class="d-none"
                    )
                .col-6
                    button(
                        class="btn btn-primary"
                        type="submit"
                    ) Apply
    //- End Change status multi product

    //- Table product list
    .card
        h5.card-header Product List
        .table-responsive.text-nowrap
            table.table
                thead
                    tr
                        th 
                            input(type="checkbox" name="check-box-all")
                        th NO.
                        th IMAGE
                        th TITLE
                        th PRICE
                        th POSITION
                        th STATUS
                        th ACTIONS
                tbody.table-border-bottom-0
                    each item, index in products
                        tr
                            td 
                                input(type="checkbox" name="check-box-item" idItem=`${item.id}`)
                            td
                                i.fab.fa-angular.fa-lg.text-danger.me-3
                                strong #{index + 1}
                            td 
                                img(
                                    src=item.thumbnail
                                    alt=item.title
                                    width="60px"
                                    height="auto"
                                )
                            td #{item.title}
                            td #{item.price}
                            td 
                                input(
                                    type="number"
                                    value=item.position 
                                    style="width: 60px; text-align: center; border-radius: 10px"
                                    min="1"
                                    name="position"
                                )
                            td
                                if(item.status=="active")
                                    span(
                                        class="badge bg-label-primary me-1 cursor-pointer" 
                                        button-change-status
                                        statusCurrent=item.status
                                        idItem=item.id
                                    ) Active
                                else 
                                    span(
                                        class="badge bg-label-warning me-1 cursor-pointer"
                                        button-change-status
                                        statusCurrent=item.status
                                        idItem=item.id
                                    ) Pending
                            td
                                .dropdown
                                    button.btn.p-0.dropdown-toggle.hide-arrow(type='button' data-bs-toggle='dropdown')
                                        i.bx.bx-dots-vertical-rounded
                                    .dropdown-menu
                                        button(
                                            class="dropdown-item"
                                        )
                                            i.bx.bx-edit-alt.me-1
                                            |  Edit
                                        button(
                                            class="dropdown-item"
                                            button-delete
                                            idItem=`${item.id}`
                                        )
                                            i.bx.bx-trash.me-1
                                            |  Delete
    //- End Table product list

    //- Basic Pagination
    +pagination(pagination)
    //- End Basic Pagination

    //- Form change status
    form(
        action
        method="POST"
        id="form-change-status"
        path=`${prefixAdmin}/products/change-status`
    )
    //- End Form change status

    //- Form delete product
    form(
        action
        method="POST"
        id="form-delete"
        path=`${prefixAdmin}/products/delete`
    )
    //- End Form delete product

    